EmployeeManagementServiceFixture/Service References/EmployeeService/EmployeeService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EmployeeManagementService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EmployeeManagementService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FaultDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultDetails" nillable="true" type="tns:FaultDetails" />
  <xs:complexType name="ArrayOfEmployeeDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDetails" nillable="true" type="tns:EmployeeDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeDetails" nillable="true" type="tns:ArrayOfEmployeeDetails" />
  <xs:complexType name="EmployeeDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeId" type="xs:int" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemarkDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RemarkText" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDetails" nillable="true" type="tns:EmployeeDetails" />
</xs:schema>