Client/Service References/EmployeeService/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50294/EmployeeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50294/EmployeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50294/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EmployeeManagementService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="AddEmployeeService_CreateEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployee" />
  </wsdl:message>
  <wsdl:message name="AddEmployeeService_CreateEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="AddEmployeeService_AddRemark_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRemark" />
  </wsdl:message>
  <wsdl:message name="AddEmployeeService_AddRemark_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRemarkResponse" />
  </wsdl:message>
  <wsdl:message name="RetriveEmployeeService_GetAllEmployeeDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeeDetails" />
  </wsdl:message>
  <wsdl:message name="RetriveEmployeeService_GetAllEmployeeDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEmployeeDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="RetriveEmployeeService_SearchById_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchById" />
  </wsdl:message>
  <wsdl:message name="RetriveEmployeeService_SearchById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByIdResponse" />
  </wsdl:message>
  <wsdl:message name="RetriveEmployeeService_SearchByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchByName" />
  </wsdl:message>
  <wsdl:message name="RetriveEmployeeService_SearchByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="AddEmployeeService">
    <wsdl:operation name="CreateEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/AddEmployeeService/CreateEmployee" message="tns:AddEmployeeService_CreateEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AddEmployeeService/CreateEmployeeResponse" message="tns:AddEmployeeService_CreateEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRemark">
      <wsdl:input wsaw:Action="http://tempuri.org/AddEmployeeService/AddRemark" message="tns:AddEmployeeService_AddRemark_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/AddEmployeeService/AddRemarkResponse" message="tns:AddEmployeeService_AddRemark_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="RetriveEmployeeService">
    <wsdl:operation name="GetAllEmployeeDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/RetriveEmployeeService/GetAllEmployeeDetails" message="tns:RetriveEmployeeService_GetAllEmployeeDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/RetriveEmployeeService/GetAllEmployeeDetailsResponse" message="tns:RetriveEmployeeService_GetAllEmployeeDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <wsdl:input wsaw:Action="http://tempuri.org/RetriveEmployeeService/SearchById" message="tns:RetriveEmployeeService_SearchById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/RetriveEmployeeService/SearchByIdResponse" message="tns:RetriveEmployeeService_SearchById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchByName">
      <wsdl:input wsaw:Action="http://tempuri.org/RetriveEmployeeService/SearchByName" message="tns:RetriveEmployeeService_SearchByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/RetriveEmployeeService/SearchByNameResponse" message="tns:RetriveEmployeeService_SearchByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_AddEmployeeService" type="tns:AddEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateEmployee">
      <soap:operation soapAction="http://tempuri.org/AddEmployeeService/CreateEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRemark">
      <soap:operation soapAction="http://tempuri.org/AddEmployeeService/AddRemark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_RetriveEmployeeService" type="tns:RetriveEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEmployeeDetails">
      <soap:operation soapAction="http://tempuri.org/RetriveEmployeeService/GetAllEmployeeDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchById">
      <soap:operation soapAction="http://tempuri.org/RetriveEmployeeService/SearchById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchByName">
      <soap:operation soapAction="http://tempuri.org/RetriveEmployeeService/SearchByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_AddEmployeeService" binding="tns:BasicHttpBinding_AddEmployeeService">
      <soap:address location="http://localhost:50294/EmployeeService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_RetriveEmployeeService" binding="tns:BasicHttpBinding_RetriveEmployeeService">
      <soap:address location="http://localhost:50294/EmployeeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>